body {
  background-color: #f5f4f1;
}

/*----------------------------- wizard----------------------------- */

.wizard-menu {
    margin: auto;
    width: 50%;
}

.wizard-menu a {
 color: #251a06;
 border: 1px solid #251A06;
}

.wizard-area{
  background-color: #f5f4f1
}

.pager {
    margin-left: 25%;
    margin-right: 30%;
}

.pager a{
  color: #251a06;
}

pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #f5f4f1;
    border: 1px solid #251A06;
    border-radius: 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #f5f4f1;
    background-color: #251A06;
}

#input-nomb {
    margin-right: 4px;
}

#input-nomb {
    margin-right: 4px;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
    color: #251a06;
}

.tabWizardVueloRecuadro {
    border-style: ridge;
}

#tab-boleto {
    background-color: #BF3E11;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    -webkit-box-shadow : 7px 5px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow : 7px 5px 12px -2px rgba(0,0,0,0.75);
    box-shadow : 7px 5px 12px -2px rgba(0,0,0,0.75);
}

#tab-boleto h3 {
    color: #251A06;
}

#tab-boleto .fa {
  color: #251A06;
}
/*------------------------- Carrusel --------------------------------------*/

carousel-caption .h1, h1 {
  color: #f5f4f1;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: -320px;
  left: -470px;
  text-shadow: 30px;
  font-weight: inherit;
}

.container-head {
  background: #BF3E11;
}

.tooltip-carousel {
  position: absolute;
  z-index: 11;
  border-radius: 50%;
}

.caraousel-tooltip-item {
  display: none;
}

.caraousel-tooltip-item.active {
  display: block;
}

.carousel-inner img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
