body {
  background-color: #f5f4f1;
}

/*----------------------------- wizard----------------------------- */

.wizard-menu {
    margin: auto;
    width: 50%;
}

.wizard-menu a {
 color: #251a06;
 border: 1px solid #251A06;
}

.wizard-area{
  background-color: #f5f4f1
}

.pager {
    margin-left: 25%;
    margin-right: 30%;
}

.pager a{
  color: #251a06;
}

pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #f5f4f1;
    border: 1px solid #251A06;
    border-radius: 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #f5f4f1;
    background-color: #251A06;
}

#input-nomb {
    margin-right: 4px;
}

#input-nomb {
    margin-right: 4px;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
    color: #251a06;
}

/*------------------------- Carrusel --------------------------------------*/

.container-head {
  background: #BF3E11;
}

.tooltip-carousel {
  position: absolute;
  z-index: 11;
  border-radius: 50%;
}

.caraousel-tooltip-item {
  display: none;
}

.caraousel-tooltip-item.active {
  display: block;
}

.carousel-inner img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
